<div id="data-goes-here" class="cue-hide mini">
  {{#each entries}}
  <div id="mini" class={{id}}>
    Date: {{date}} <br>
    Comments: {{comments}} <br>
    Took meds: {{meds_taken}} <br>
    <p class="all-{{id}}" style="display: none">No survey responses documented!</p>
    <p class="can-{{id}}" style="display: none">Are you sure? Deletion is permanent!</p>
    <input class="see-response h-button r-{{id}}" type="submit" name="submit" value="See Entire Entry"> <input class="delete-warn h-button {{id}}" type="submit" name="submit" value="Delete Entry"><br>
    <input style="display: none" class="delete-entry can-{{id}} h-button {{id}}" type="submit" name="submit" value="Delete">
    <input style="display: none" class="cancel can-{{id}} h-button {{id}}" type="submit" name="submit" value="Cancel">
    </div>
  {{/each}}
</div>
