{{#each entries}}
<div class={{id}}>
  Entry: {{id}} <br>
  Date: {{date}} <br>
  Comments: {{comments}} <br>
  <input class="see-response h-button {{id}}" type="submit" name="submit" value="See Entire Entry"> <br>
  <input class="delete-entry h-button {{id}}" type="submit" name="submit" value="Delete Entry">
</div>
{{/each}}
